.product-list>figure {
    width: 225px;
    margin: 0 10px 30px 10px;
    overflow: hidden;
    position: relative;
    height: 400px;
}


.product-list>figure:last-of-type {
    margin-right: 0;
}

.product-list>figure:first-of-type {
    margin-left: 0;
}

.product-action button {
    width: 225px;
    text-transform: uppercase;
    color: #333;
    border: .1rem solid #ebebeb;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: none;
    transition: all .12s ease;

}

.product-list>figure:hover .product-action>button {
    display: block;
    position: absolute;
    bottom: 0px;
    animation: SlideUp .3s ease-in-out;
}

.product-list>figure p {
    margin-bottom: 0;
}

.product-list>figure p:first-of-type {
    margin-top: 10px;
}

.product-action>button:hover {
    background-color: #a49e9e;
    color: #ebebeb;
}

@keyframes SlideUp {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}


.favourite {
    position: relative;
    width: 35px;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #c1bebe;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 185px;
}

.favourite:before,
.favourite:after {
    content: '';
    position: absolute;
    top: -3px;
    height: 100%;
    width: 50%;
    z-index: 10;
    border: 1px solid #c1bebe;
    box-sizing: border-box;
    background-color: #c1bebe;
}

.favourite:before {
    left: 0;
    transform-origin: 0 0;
    transform: skewY(-20deg);
    border-width: 0 0 1px 1px;
}

.favourite:after {
    right: 0;
    transform-origin: 100% 0;
    transform: skewY(20deg);
    border-width: 0 1px 1px 0;
}

.favourite>i {
    color: whitesmoke;
    z-index: 100;

}

.favourite:hover>i {
    color: red;

}